@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html, body {
    width: 100%;
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: bold;
}

section {
    width: 100%;
    margin-bottom: 70px;
}

header, main, footer {
    flex-shrink: 0;
}

header {
    height: 500px;
    color: white;
    /* background: url('https://live.staticflickr.com/65535/49793460528_2b9df017a2_o.jpg') no-repeat center center; */
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .inner-header {
    width: 80%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 576px) { 
    header .inner-header {
        width: 80%;
        height: 70%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    header .inner-header h1, 
    header .inner-header h4 {
        margin-left: 30px;
    }
 }

main {
    min-height: 100%;
}

.spittaa-red {
    color: #DD0031;
}

h4.spittaa-red {
    color: #2b2b2b;
}

h4.spittaa-red:hover {
    color: #2b2b2b;
    text-decoration: none;
}

.spittaa-red:hover {
    color: #DD0031;
}

.platforms a {
    display: block;
}

.platforms a:hover {
    color: #DD0031;
}

.about-text {
    line-height: 30px;
}

.btn-primary {
    background-color: #DD0031;
    border: 1px solid #b10027;
}

.btn-primary:hover {
    background-color: #b10027;
    border: 1px solid #b10027;
}

.btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #2b2b2b;
    color: white;
}

.footer-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}

.footer-social {
    margin-top: 20px;
}

.footer-social .fab {
    margin-top: 40px 15px;
}

.contact-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.social-links div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links div img{
    width: 3rem;
    height: 100%;
}

.social-links a {
    margin: 0 10px;
}

@media (max-width: 576px) {
    .social-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}