---
layout: default
singleID:
title: Home - 
---
{% assign single = site.data.singles.first %}
{% assign previous_single = site.data.singles[1] %}
{% assign video = site.data.videos.first %}

<!-- singles -->
<section>
    
    {% include LatestAlbum.html %}
    <!-- {% include LatestSingle.html %} -->

    <br>
    <br>
    <br>

    <h3>Also listen to</h3>
    <div class="previous">
        <div class="single-cover">
            <img src="{{ previous_single.singleCover }}" alt="">
        </div>
        <div class="previous-single-info">
            <h5>{{ previous_single.title }}</h5>
            {% if previous_single.soundcloud %}
                <p>
                    <a href="{{ previous_single.soundcloud }}" class="spittaa-red" target="_blank">Soundcloud</a>
                </p>
            {% endif %}
    
            {% if previous_single.spotify %}
                <p>
                    <a href="{{ previous_single.spotify }}" class="spittaa-red" target="_blank">Spotify</a>
                </p>
            {% endif %}
     
            {% if previous_single.appleMusic %}
                <p>
                    <a href="{{ previous_single.appleMusic }}" class="spittaa-red" target="_blank">Apple Music</a>
                </p>
            {% endif %}
    
            {% if previous_single.tidal %}
                <p>
                    <a href="{{ previous_single.tidal }}" class="spittaa-red" target="_blank">Tidal</a>
                </p>
            {% endif %}  
        </div>
    </div>

    <div class="btn-wrapper">
        <a href="/music/" class="btn btn-primary">View All Singles</a>
    </div>
</section>

<!-- Videos -->
<section>
    <h3>Latest Video - {{ video.title }}</h3>
    <iframe width="100%" height="300" src="https://www.youtube.com/embed/{{video.id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="btn-wrapper">
        <a href="/music/" class="btn btn-primary">View Videos</a>
    </div>
</section>

<section>
    <h3>More Releases</h3>
    <div class="row">
        {% for album in site.albums limit: 3 %}
            <div class="col-lg-4">
                <div class="card mb-3" style="width: 100%;">
                    <img src="{{ album.cover}}" class="card-img-top img-fluid" alt="{{ album.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.title}}</h5>
                        <p class="card-text">{{ album.description }}</p>
                        <!-- <a href="{{ album.url }}" class="card-link spittaa-red">{{ album.title }}</a> -->
                        {% if album.soundcloud %}
                            
                        <a href="{{ album.soundcloud }}" class="card-link spittaa-red" target="_blank" class="card-link">Listen</a>
                        {% else %}
                        <a href="{{ album.appleMusic }}" class="card-link spittaa-red" target="_blank" class="card-link">Listen</a>
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="btn-wrapper">
        <a href="/music/" class="btn btn-primary">View All Music</a>
    </div>
</section>

<!-- <section>
    <h3>Coming Soon</h3>
    <h3>Dre Spittaa Merch</h3>
</section> -->