---
layout: default
singleID:
title: Home - 
---
{% assign single = site.data.singles.first %}
{% assign video = site.data.videos.first %}

<!-- singles -->
<section>
    <h3>Latest Single - {{ single.title }}</h3>
    <!-- <img src="{{single.cover}}" class="img-fluid"> -->

    <iframe src="https://open.spotify.com/embed/track/1Upq2c56IAwqdz7yC7Ahjf" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <!-- <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/rip-record-theater-single/1508451225"></iframe> -->

    
    <div class="social-links">
        {% if single.soundcloud %}
        <div>
            <i class="fab fa-soundcloud fa-3x"></i>
            <p>
                <a href="{{ single.soundcloud }}" class="spittaa-red" target="_blank">Soundcloud</a>
            </p>
        </div>
        {% endif %}

        {% if single.spotify %}
        <div>
            <i class="fab fa-spotify fa-3x"></i>
            <p>
                <a href="{{ single.spotify }}" class="spittaa-red" target="_blank">Spotify</a>
            </p>
        </div>
        {% endif %}


        {% if single.appleMusic %}
        <div>
            <i class="fab fa-itunes fa-3x"></i>
            <p>
                <a href="{{ single.appleMusic }}" class="spittaa-red" target="_blank">Apple Music</a>
            </p>
        </div>
        {% endif %}

        {% if single.tidal %}
        <div>
            <img src="./img/tidal.png" alt="">
            <p>
                <a href="{{ single.tidal }}" class="spittaa-red" target="_blank">Tidal</a>
            </p>
        </div>
        {% endif %}
    </div>

    <div class="btn-wrapper">
        <a href="/music/" class="btn btn-primary">View All Singles</a>
    </div>
</section>

<!-- Videos -->
<section>
    <h3>Latest Video - {{ video.title }}</h3>
    <iframe width="100%" height="300" src="https://www.youtube.com/embed/{{video.id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="btn-wrapper">
        <a href="/music/" class="btn btn-primary">View Videos</a>
    </div>
</section>

<section>
    <h3>More Releases</h3>
    <div class="row">
        {% for album in site.albums limit: 3 %}
            <div class="col-lg-4">
                <div class="card mb-3" style="width: 100%;">
                    <img src="{{ album.cover}}" class="card-img-top img-fluid" alt="{{ album.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.title}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- <a href="{{ album.url }}" class="card-link spittaa-red">{{ album.title }}</a> -->
                        <a href="{{ album.soundcloud }}" class="card-link spittaa-red" target="_blank" class="card-link">Listen</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="btn-wrapper">
        <a href="/music/" class="btn btn-primary">View All Music</a>
    </div>
</section>

<!-- <section>
    <h3>Coming Soon</h3>
    <h3>Dre Spittaa Merch</h3>
</section> -->