---
layout: default
title: Music -
permalink: "/music/"

---
<h3>Albums, Mixtapes, and EP's</h3>
<br>

<section class="music">
    <div class="row">
        {% for album in site.albums %}
            <div class="col-lg-3 mb-3">
                <a href="{{ album.url }}">
                    <img src="{{ album.cover }}" alt="{{ album.title }}" class="img-fluid">
                </a>
                <h4>{{ album.title }}</h4>
                {% if album.soundcloud %}
                <p>
                    <a href="{{ album.soundcloud }}" class="spittaa-red" target="_blank">Soundcloud</a>
                </p>
                {% endif %}

                {% if album.spotify %}
                <p>
                    <a href="{{ album.spotify }}" class="spittaa-red" target="_blank">Spotify</a>
                </p>
                {% endif %}

                {% if album.appleMusic %}
                <p>
                    <a href="{{ album.appleMusic }}" class="spittaa-red" target="_blank">Apple Music</a>
                </p>
                {% endif %}

                {% if album.tidal %}
                <p>
                    <a href="{{ album.tidal }}" class="spittaa-red" target="_blank">Tidal</a>
                </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>

<h3>Singles</h3>
<br>

<section class="music">
    <div class="row">
        {% for single in site.data.singles %}
        <div class="col-lg-2 mb-">
            <img src="{{ single.singleCover }}" alt="{{ single.title }}" class="img-fluid">
            <h4>{{ single.title }}</h4>
            {% if single.soundcloud %}
            <p>
                <a href="{{ single.soundcloud }}" class="spittaa-red" target="_blank">Soundcloud</a>
            </p>
            {% endif %}
            {% if single.spotify %}
            <p>
                <a href="{{ single.spotify }}" class="spittaa-red" target="_blank">Spotify</a>
            </p>
            {% endif %}
            {% if single.appleMusic %}
            <p>
                <a href="{{ single.appleMusic }}" class="spittaa-red" target="_blank">Apple Music</a>
            </p>
            {% endif %}
            {% if single.tidal %}
            <p>
                <a href="{{ single.tidal }}" class="spittaa-red" target="_blank">Tidal</a>
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>

<!-- Music Videos -->
<h3>Videos</h3>
<br>
<section>
    <div class="row">
        {% for video in site.data.videos %}
            <div class="col-lg-6">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/{{video.id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endfor %}
    </div>
</section>