<footer>

    <div class="footer-container">
        <div class="footer-social">
            <a href="{{ site.twitter_link }}" class="spittaa-red" target="_blank">
                <i class="fab mr-5 fa-3x fa-twitter"></i>
            </a>
            <a href="{{ site.instagram_link }}" class="spittaa-red" target="_blank">
                <i class="fab mr-5 fa-3x fa-instagram"></i>
            </a>
            <a href="{{ site.facebook_link }}" class="spittaa-red" target="_blank">
                <i class="fab mr-5 fa-3x fa-facebook-square"></i>
            </a>
            <a href="{{ site.soundcloud_link }}" class="spittaa-red" target="_blank">
                <i class="fab mr-5 fa-3x fa-soundcloud"></i>
            </a>
            <a href="{{ site.youtube_link }}" class="spittaa-red" target="_blank">
                <i class="fab mr-5 fa-3x fa-youtube"></i>
            </a>
        </div>
        
        <p>&copy 2020</p>
    </div>
</footer>