{% assign single = site.data.singles.first %}

<header style="background: url('https://live.staticflickr.com/65535/49793460528_2b9df017a2_o.jpg') no-repeat center center;">
    <div class="inner-header">
        <h1>{{ page.title }} Dre Spittaa</h1>
        <!-- <h4>New Single, "{{ single.title }}" Out Now!</h4> -->
        <h4>"Artistry" Out Now!</h4>
        <!-- <div class="social-media">
            <span>
                <i class="mr-5 fab fa-spotify fa-3x"></i>
            </span>
            <span>
                <i class="mr-5 fab fa-soundcloud fa-3x"></i>
            </span>
            <span>
                <i class="mr-5 fab fa-itunes fa-3x"></i>
            </span>
        </div> -->
    </div>
</header>