{% assign single = site.data.singles.first %}

<h3>Latest Single</h3>
<div class="row">
    <div class="col-lg-3">
        <img src="{{single.singleCover}}" alt="" class="img-fluid">
    </div>
    <div class="col-lg-9 single-info">
        <div class="">
            <h5>{{ single.title }}</h5>
            
        </div>
        <!-- social-links -->
        <div class="">
            {% if single.soundcloud %}
            <div>
                <a href="{{ single.soundcloud }}" class="spittaa-red" target="_blank">Soundcloud</a>
            </div>
            {% endif %}
        
            {% if single.spotify %}
            <div>
                 <a href="{{ single.spotify }}" class="spittaa-red" target="_blank">Spotify</a>
            </div>
            {% endif %}
        
        
            {% if single.appleMusic %}
            <div>
                <a href="{{ single.appleMusic }}" class="spittaa-red" target="_blank">Apple Music</a>
            </div>
            {% endif %}
        
            {% if single.tidal %}
            <div>
                <a href="{{ single.tidal }}" class="spittaa-red" target="_blank">Tidal</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

