<h3>Latest Single - {{ single.title }}</h3>
<img src="{{single.cover}}" class="img-fluid">

<iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/movie-feat-j-queezy-single/1530292238"></iframe>

<div class="social-links">
    {% if single.soundcloud %}
    <div>
        <i class="fab fa-soundcloud fa-3x"></i>
        <p>
            <a href="{{ single.soundcloud }}" class="spittaa-red" target="_blank">Soundcloud</a>
        </p>
    </div>
    {% endif %}

    {% if single.spotify %}
    <div>
        <i class="fab fa-spotify fa-3x"></i>
        <p>
            <a href="{{ single.spotify }}" class="spittaa-red" target="_blank">Spotify</a>
        </p>
    </div>
    {% endif %}


    {% if single.appleMusic %}
    <div>
        <i class="fab fa-itunes fa-3x"></i>
        <p>
            <a href="{{ single.appleMusic }}" class="spittaa-red" target="_blank">Apple Music</a>
        </p>
    </div>
    {% endif %}

    {% if single.tidal %}
    <div>
        <img src="./img/tidal.png" alt="">
        <p>
            <a href="{{ single.tidal }}" class="spittaa-red" target="_blank">Tidal</a>
        </p>
    </div>
    {% endif %}
</div>