<div class="platforms">
    {% if page.soundcloud %}
        <a href="{{ page.soundcloud }}" class="spittaa-red" target="_blank">Soundcloud</a>
    {% endif %}
    {% if page.appleMusic %}
        <a href="{{ page.appleMusic }}" class="spittaa-red" target="_blank">Apple Music</a>
    {% endif %}
    {% if page.spotify %}
        <a href="{{ page.spotify }}" class="spittaa-red" target="_blank">Spotfity</a>
    {% endif %}
    {% if page.tidal %}
        <a href="{{ page.tidal }}" class="spittaa-red" target="_blank">Tidal</a>
    {% endif %}
</div>